@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    @keyframes floaty {

        0%,
        100% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY(-6) rotate(6deg);
        }

        75% {
            transform: translateY(10px) rotate(6deg);
        }
    }

    .animate-[floaty_6s_ease-in-out_infinite] {
        animation: floaty 6s ease-in-out infinite;
    }
}

/* top btn animation */
@keyframes to-up {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-6px);
    }
}

/* download btn animation */
@keyframes to-down {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(6px);
    }
}

/* send btn animation */
@keyframes send {

    0%,
    100% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(-6px, 6px);
    }
}


/* typing */
.typing::after {
    content: '|';
    animation: puls 1s ease infinite;
}

@keyframes puls {
    50% {
        opacity: 0;
    }
}